#include <windows.h>
#include "resources.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_APP_ICON ICON "../assets/logo.ico"

IDD_LICENSES DIALOGEX 0, 0, 440, 360
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_CLIPCHILDREN
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Third-party software licenses"
FONT 9, "Segoe UI"
BEGIN
END

IDR_APP_LICENSE RCDATA "../LICENSE"
IDR_WTL_LICENSE RCDATA "../third_party/wtl/MS-PL.txt"
IDR_JSON_LICENSE RCDATA "../third_party/nlohmann/LICENSE.MIT"
